body {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  padding: 16px;
  color: white;
}

hr {
  margin: 24px 0;
  opacity: 0.25;
}

.font-effect-fire-animation {
  font-family: 'Sofia', cursive;
  font-size: 64px;
  line-height: 1.1;
  margin-top: 8px;
}